/* navbar */
.navbar-default {
    background-color: #3DBE24;
    color: #ffffff
    min-height: 80px;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 18px;
    border-bottom-color: #ccc;

}
/* Title */
.navbar-default .navbar-logo {
    background-color: #ffffff;
    line-height: 80px;
    padding: 30px 10px 30px 10px;
    -webkit-box-shadow: 0px 1.5px 1.5px 0px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    0px 1.5px 1.5px 0px #ccc;  /* Firefox 3.5 - 3.6 */
     box-shadow:         0px 1.5px 1.5px 0px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
/*.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #ffffff;
}
/* Link */


.navbar-default .navbar-nav > li > a{
    background-color: #3DBE24;
    color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: #ffffff;
    color: #3DBE24;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    background-color: #ffffff;
    color: #3DBE24;
}
}
/* Caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    background-color: #3DBE24;
    color: #ffffff;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    background-color: #ffffff;
    color: #3DBE24;
}
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    background-color: #3DBE24;
    color: #ffffff;
}
/* Mobile version */
.navbar-default .navbar-toggle {
    border-color: #ffffff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #ffffff;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #3DBE24;
}
@media (max-width: 767px) {

    #navbarCollapse {
        overflow: hidden;
    }

    .navbar-toggle{
        margin-top: 25px;
        background-color: #ffffff;
    }

    .navbar-default .navbar-nav .open .dropdown-menu{
      
    }
}

@media (min-width: 768px) {

    .navbar-default .navbar-nav > li > a{
        line-height: 50px;
    }

    #searchInput {
        padding-top: 15px;
    }
}



